* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --active-color: #E0E0E0;
    --side-padding: 28px;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-right img,
.nav-right i {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon {
    width: 35px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 130px;
}

.nav-middle .mic-icon {
    width: 16px;
}

.nav-middle .search-box {
    border: 1px solid #cccccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input {
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img {
    width: 15px;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 2%;
    /* padding-left: 10%;
    padding-right: 10%; */
}


/* search */


/* .container-new {
    text-align: center;
} */

#menu_search {
    padding: 5px;
}

#menu_list {
    margin-top: 10px;
}

.menu_item {
    /* display: inline-block; */
    list-style: none;
    width: 100%;
    padding: 20px;
}

.menu_item a {
    text-decoration: none;
    /* color: #ffffff;
    background-color: #ff0000; */
    padding: 5px 10px;
    border-radius: 5px;
}